<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansThai-SemiBold.ttf</string>
		<string>NotoSansThai-Regular.ttf</string>
		<string>NotoSansThai-ExtraLight.ttf</string>
		<string>NotoSansThai-Medium.ttf</string>
		<string>NotoSansThai-Bold.ttf</string>
		<string>NotoSansThai-Light.ttf</string>
		<string>NotoSansThai-Thin.ttf</string>
		<string>NotoSansThai-Black.ttf</string>
	</array>
</dict>
</plist>
